


  

<span id="{{id}}" class="hero">
  <a href="/character-sheet/{{id}}">  
    <h3>
      {{name}}
    </h3>
  </a>
  <a href="/character-sheet/{{id}}">
    <img class="hero-img" src="{{image_link}}">
  </a>
  <div>
      <span class="gender">gender: {{gender}}</span>
      <span class="race">race: {{race}}</span>
      <span class="class">class: {{class}}</span>
      <span class="age">age: {{age}}</span>
      <span class="player_level">player_level: {{player_level}}</span>
      <span class="proficiency_bonus">proficiency_bonus: {{proficiency_bonus}}</span>
      <span class="alignment">alignment: {{alignment}}</span>
      <span class="languages">languages: {{languages}}</span>
      <span class="proficiencies">proficiencies: {{proficiencies}}</span>
    
    </div>
        {{!-- <div>
          Character ID: {{id}} - User ID: {{user_id}}
        </div> --}}
  </a>        
</span>


