<span id="{{id}}" class="hero">
  {{!-- <a href="/character-sheet/{{id}}">   --}}
    
    {{!-- top bar --}}
    <section class="hero-banner">
      <div class="hero-name">
          <span class="name">{{name}}</span>
          <span class="character-sheet"><img src="/assets/images/"></span>
      </div>
      <div class="hero-level-class">
        <span class="level">Level {{player_level}}</span>
        <span class="class">{{class}}</span>
      </div>
    </section>

  
  <a href="/character-sheet/{{id}}">
    <img class="hero-img" src="{{image_link}}">
  </a>
  {{!-- Under image --}}
    <section class="hero-race-gender-age">
      <span class="race">{{race}}</span>
      <span class="gender">{{gender}}</span>
      <span class="age">{{age}} years old</span>
    </section>


    {{!-- Background --}}
    <section class="hero-banner">
      <span class="background">{{race}}</span>
      <span class="gender">{{gender}}</span>
      <span class="spacer"></span>
      <span class="age">{{age}} years old</span>
    </section>
  
  
  <div>
      
      
      <span class="proficiency_bonus">proficiency_bonus: {{proficiency_bonus}}</span>
      <span class="alignment">alignment: {{alignment}}</span>
      <span class="languages">languages: {{languages}}</span>
      <span class="proficiencies">proficiencies: {{proficiencies}}</span>
    
    </div>
        {{!-- <div>
          Character ID: {{id}} - User ID: {{user_id}}
        </div> --}}
  </a>        
   <header>
    
    <section class="misc">
      
        <li>
          <label for="alignment">Alignment</label>
          <input type='text' value="{{alignment}}" name="alignment" placeholder="Lawful Good" />
        </li>
        <li>
          <label for="experiencepoints">Experience Points</label>
          <input type='text' value="{{exp}}" name="experiencepoints" placeholder="0" />
        </li>
      </ul>
    </section>
  </header>
</span>


