<span id="{{id}}" class="hero">
  {{!-- <a href="/character-sheet/{{id}}">   --}}
    
    {{!-- top bar --}}
    <section class="hero-banner">
      <div class="hero-name-sheet">
          <span class="name">{{name}}</span>
          <a href="/character-sheet/{{id}}">
            <img class="sheet" src="/assets/images/logo_32x32.png" title="Open Character Sheet" />
          </a>
      </div>
      <div class="hero-level-class">
        <span class="level">Level {{player_level}}</span>
        <span class="class">{{class}}</span>
      </div>
    </section>

  
  
    <img class="hero-img" src="{{image_link}}">
  </a>
  {{!-- Under image --}}
    <section class="hero-race-gender-age">
      <span class="race">{{race}}</span>
      <span class="gender">{{gender}}</span>
      <span class="age">{{age}} years old</span>
    </section>


    {{!-- Background --}}
    <section class="hero-banner">
      <span class="background">{{race}}</span>
      <span class="gender">{{gender}}</span>
      <span class="spacer"></span>
      <span class="age">{{age}} years old</span>
    </section>

    <section class="hero-banner">
      <span class="alignment">{{alignment}}</span>
      <span class="gender">{{gender}}</span>
      <span class="spacer"></span>
      <span class="age">{{age}} years old</span>
    </section>
  
  
  
        {{!-- <div>
          Character ID: {{id}} - User ID: {{user_id}}
        </div> --}}
  