
<!-- Used for delete hero button -->
<script src='https://kit.fontawesome.com/a076d05399.js'></script> 
<!-- Used for Close and To Sheet buttons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/hero-card.css">

<div id="div-onload-modal" class="modal slideDown">
    <!-- The modal content here -->
    <div class="modal-content">
        
        <section class="modal-header">
            <img class="modal-img" src="/assets/logos/logo_32x32.png" title="Open Character Sheet" />
            <h2 class="name">{{name}}</h2>    
            <span class="close fa fa-close"></>
        </section>
        
        {{!-- CRUD Buttons --}}
        <section class="hero-crud">
            <a href="/character-sheet/{{id}}">
                <span class="edit-hero fa fa-pencil-square-o"></span>
            </a>
            <!-- TODO:: 02/19/2022 #EP || Add js to delete hero -->
            <a>
                <span class="delete-hero fa fa-trash-o"></span>
            </a>

        </section>

        {{!-- BODY CONTENT --}}
        <section class="modal-body">
            <div class="hero-level-class">
                <span class="level">Level {{player_level}}</span>
                <span class="class">{{class}}</span>
            </div>
            {{!-- IMAGE --}}
            <div>
                <img class="hero-img" src="{{image_link}}" alt="{{name}}">
            </div>    
            
            {{!-- UNDER IMAGE --}}
            <div class="hero-stats">
                <span class="race">{{race}}</span>
                <span class="spacer"></span>
                <span class="gender">{{gender}}</span>
                <span class="spacer"></span>
                <span class="age">{{age}} years old.</span>
                <span class="spacer"></span>
            </div>
            <div class="hero-flavor">
                <span class="alignment">{{name}}'s alignment is {{alignment}}.</span>
            </div>

            {{!-- Background --}}
            <div class="hero-proficiencies">
                <span class="proficiencies">{{proficiencies}}</span>
            </div>
            </span>

            
        </section>
        <section class="modal-footer">
            <span>
                {{#if username}} Created by {{username}} {{/if}}
                {{#if date_created}} on {{date_created}}{{/if}}
        </section>
    </div>
</div>

<script>
    var modal = document.getElementById("div-onload-modal"); // Get the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks the button, open the modal
    
    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
    modal.style.display = "none";
};

// When the user clicks anywhere outside of the modal, close it
window.onclick = function (event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
};

</script>